body {
  background-color: white;
}

.bottom-nav {
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E08D4D;
  border: 1px solid #ff9800;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: color 0.3s, font-weight 0.3s;
}

.nav-item a {
  text-decoration: none;
  color: white;
}