.promotions-container {
  padding: 20px;
}

.promotion-card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}


.promotion-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.prices {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: grey;
}

.discounts-container {
  margin-top: 20px;
}

.discount-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.discount-card img {
  max-width: 70vw;
  max-height: 80vh;
  border-radius: 5px;
}

.discount-card > p {
  margin: 0;
  text-align: center;
}

.discount-card > h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.discount-price {
  color: #e74c3c;
}

.discount-detail {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 10;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.discount-detail.active {
  transform: translateY(0);
  opacity: 1;
}

.discount-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.drink {
  margin-bottom: 10px;
}

.drink h4 {
  text-align: center;
}

.toppings label {
  display: block;
  margin-top: 5px;
}

button.add-to-cart {
  background: #E08D4D;
  border: 1px solid #ff9800;
  color: #fff;
  padding: 10px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 90%;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.close-card {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: #E08D4D;
  border: 1px solid #ff9800;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}